<form route='{{route}}' class='ui instruction incubates form' id='instruction-form'>
  <div class='four fields'>
    <div class='required field'>
      <label for='incubates_duration'>Duration</label>
      <input id='incubates_duration' name='incubates[duration]' type='text' value='{{duration}}'>
    </div>
    <div class='required field'>
      <label for='incubates_temperature'>Temperature</label>
      <div class="ui right labeled input">
        <input id='incubates_temperature' min='1' max='120' name='incubates[temperature]' step='1' type='number' value='{{temperature or 1}}'>
        <div class="ui basic label">&deg;C</div>
      </div>
    </div>
    <div class='required field'>
      <label for='incubates_co2_percent'>CO<sub>2</sub> Percent</label>
      <input id='incubates_co2_percent' min='0' max='1.00' name='incubates[co2_percent]' step='0.01' type='number' value='{{co2_percent or 0.00}}'>
    </div>
    <div class='required field'>
      <label for='incubates_sample_id'>Sample</label>
      <select id='incubates_sample_id' name='incubates[sample_id]' class='ui dropdown'>
      {% for sample in samples %}
        <option value='{{sample["id"]}}'>{{sample["name"]}}</option>
      {% endfor %}
      </select>
    </div>
  </div>
  <div class='inline field field'>
    <div class='ui toggle checkbox'>
      <input id='incubates_shaking' name='incubates[shaking]' type='checkbox' value='true' {{"checked='checked'" if shaking}}>
      <input name='incubates[shaking]' type='hidden' value='false'>
      <label for='incubates_shaking'>Shaking</label>
    </div>
  </div>
  <div class='ui error message'></div>
</form>
