{% extends "layout.html" %}
{% block body %}
<div class="ui pointing secondary tabular menu">
  <a class="item active" data-tab="labs">Labs</a>
  <a class="item" data-tab="equips">Equipment</a>
  <a class="item" data-tab="users">Users</a>
  <a class="item" data-tab="orders">Orders</a>
  <a class="item" data-tab="samples">Samples</a>
  <a class="item" data-tab="protocols">Protocols</a>
</div>
<div class="ui tab segment active" data-tab="labs">
  {% include 'lab/index.html' %}
</div>
<div class="ui tab segment" data-tab="equips">
  {% include 'equipment/index.html' %}
</div>
<div class="ui tab segment" data-tab="users">
  {% include 'user/index.html' %}
</div>
<div class="ui tab segment" data-tab="orders">
  {% include 'order/index.html' %}
</div>
<div class="ui tab segment" data-tab="samples">
  {% include 'sample/index.html' %}
</div>
<div class="ui tab segment" data-tab="protocols">
  {% include 'protocol/index.html' %}
</div>
{% endblock %}
